<div class="card">
  <h4 class="card-header">
    Thông tin cá nhân
  </h4>
  <div class="card-body">
    {{#if infoUser}}
    <form method="POST">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Tên người dùng</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="name" value="{{infoUser.name}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="email" value={{infoUser.email}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="dob" class="col-sm-2 col-form-label">Ngày sinh</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="dob" value={{infoUser.dob}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="permission" class="col-sm-2 col-form-label">Quyền truy cập</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="permission" value={{infoUser.permission}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="premium" class="col-sm-2 col-form-label">Premium</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="premium" name="premium" value={{infoUser.premium}}>
        </div>
      </div>
    </form>
    {{/if}}
  </div>
</div>