{{#section 'js'}}
<script>
  function checkEmail(email) {
    var filter = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (!filter.test(email.value)) {
        //alert('Please provide a valid email address');
        //email.focus;
        return false;
    }
    return true;
  }
  function checkDateChange(element) {
    var date = Date.parse(element.value.toString());
    console.log(element.value.toString());
    if (isNaN(date))
        return false
    else
        return true;
  }
  function checkFunction(){
    var Flag = true;
    const email = document.getElementById("email");
    const date = dob;
    console.log(date.value.toString());
    if (!checkEmail(email)){
      alert('Vui lòng cung cấp email hợp lệ!');
      //email.focus;
      Flag = false;
    }
    if (!checkDateChange(date)){
      alert('Vui lòng cung cấp ngày sinh hợp lệ!');
      //email.focus;
      Flag = false;
    }

    if (Flag){
      alert('Cập nhật thông tin thành công!');
    }
    return Flag;
  }
</script>
{{/section}}

<div class="card">
  <h4 class="card-header">
    Thông tin cá nhân
  </h4>
  <div class="card-body">
    {{#if infoUser}}
    <form method="POST">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">
            {{#ifEquals infoUser.permission "0"}}
            Họ tên
            {{/ifEquals}}
            {{#ifEquals infoUser.permission "1"}}
            Bút danh
            {{/ifEquals}}
            {{#ifEquals infoUser.permission "2"}}
            Họ tên
            {{/ifEquals}}
            {{#ifEquals infoUser.permission "3"}}
            Họ tên
            {{/ifEquals}}
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="name" name = "name" value="{{infoUser.name}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="email" name = "email" value={{infoUser.email}}>
        </div>
      </div>

      <div class="form-group row">
        <label for="dob" class="col-sm-2 col-form-label">Ngày sinh</label>
        <div class="col-sm-10">
          {{!-- <input type="date" id="birthday" name="birthday"> --}}
          <input type="text" class="form-control-plaintext"  placeholder="MM/DD/YYYY" onfocus="this.type = 'date'" onblur="this.type = 'text'"
          !-- id="dob" name = "dob"  value={{infoUser.dob}}>
          
        </div>
      </div>

      <div class="form-group row">
        <label for="permission" class="col-sm-2 col-form-label">Quyền truy cập</label>
        <div class="col-sm-10" > 
          {{!--  infoUser.permission --}}
          <td>
            <b>
            {{#ifEquals infoUser.permission "0"}}
            Độc giả
            {{/ifEquals}}
            {{#ifEquals infoUser.permission "1"}}
            Phóng viên
            {{/ifEquals}}
            {{#ifEquals infoUser.permission "2"}}
            Biên tập viên
            {{/ifEquals}}
            {{#ifEquals infoUser.permission "3"}}
             Quản trị viên
            {{/ifEquals}}
            </b>
          </td>
        </div>
      </div>
      {{!-- <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Thời hạn premium còn lại</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="" name="" value= infoUser.premium>
        </div>
      </div> --}}
      
      
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Thời hạn premium</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="" name="" value= {{infoUser.premium}}>
        </div>
        {{#ifEquals infoUser.premium "0"}}
        <label for="premium" class="col-sm-2 col-form-label">Gia hạn Premium</label>
        <input type="radio" id="10" name="times" value="10000">
        <label for="html">10 giây</label><br>
        <input type="radio" id="30" name="times" value="120000">
        <label for="css">3 phút</label><br>
        <input type="radio" id="120" name="times" value="604800000">
        <label for="javascript">7 ngày</label>
        {{/ifEquals}}
      </div> 
      
      
      {{!-- <p>Chọn thời gian:</p> --}}
      {{!-- <input type="radio" id="10" name="times" value="10000">
      <label for="html">10 giây</label><br>
      <input type="radio" id="30" name="times" value="120000">
      <label for="css">3 phút</label><br>
      <input type="radio" id="120" name="times" value="604800000">
      <label for="javascript">7 ngày</label>
      <div class="form-group row">
        <label for="premium" class="col-sm-2 col-form-label">Ngày hết hạn Premium</label>
        <div class="col-sm-10">
          {{!-- <input type="date" id="birthday" name="birthday"> --}}
          <input type="text" class="form-control-plaintext"  placeholder="MM/DD/YYYY" onfocus="this.type = 'date'" onblur="this.type = 'text'"
          !-- id="premium" name = "premium"  value={{premium}}>
          
          
        </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Đổi mật khẩu mới</label>
        <div class="col-sm-10">
          <input type="password" class="form-control-plaintext" id="password" name = "password" value="">
        </div>
      </div>
    

      
      <button type="submit" class="btn btn-success" onclick="return checkFunction()" formaction="/account/profile/">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
    {{/if}}
    
  </div>
  
</div>