{{#section 'css'}}
<style>
  body{
    color: #8e9194;
    background-color: #f4f6f9;
}
.avatar-xl img {
    width: 110px;
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-muted {
    color: #aeb0b4 !important;
}
.text-muted {
    font-weight: 300;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5154;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #eef0f3;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>

<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    
{{/section}}
{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
</script>
    
<script>
    $('#dob').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
    });
    
    $("#dob").val("{{infoUser.dob}}").change();
    $('#premium').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
    });
    
    $("#premium").val("{{datePremium}}").change();
</script>
<script>
$("#info-form").on("submit", function (e) {
  e.preventDefault();
  const password = $("#password").val();
  const repeat_pass = $("#confirmpass").val();
  const email = $("#email").val();
  if (password !== repeat_pass) {
    $("#err_signup").html("Mật khẩu nhập lại không khớp");
    $("#err_signup").css("display", "block");
  } 
  else{
        $("#info-form").off("submit").submit();
  }
});
</script>

{{/section}}
<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <div class="my-4">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Thông tin cá nhân</a>
                </li>
            </ul>
            <form method="POST" id="info-form">
                <div class="row mt-5 align-items-center">
                    <div class="col-md-3 text-center mb-5">
                        <div class="avatar avatar-xl">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="..." class="avatar-img rounded-circle" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-md-7">
                                <h4 class="mb-1">{{infoUser.name}}</h4>
                                <p class="small mb-3"><span class="badge badge-dark">{{#ifEquals infoUser.permission "0"}}
                                    Độc giả
                                    {{/ifEquals}}
                                    {{#ifEquals infoUser.permission "1"}}
                                    Phóng viên
                                    {{/ifEquals}}
                                    {{#ifEquals infoUser.permission "2"}}
                                    Biên tập viên
                                    {{/ifEquals}}
                                    {{#ifEquals infoUser.permission "3"}}
                                    Quản trị viên
                                    {{/ifEquals}}</span></p>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-7">
                                <p class="text-muted">
                                    {{infoUser.dob}}
                                </p>
                                <p class="text-muted">
                                    {{infoUser.email}}
                                </p>
                            </div>
                            <div class="col">
                                <p class="small mb-0 text-muted">HCMUS</p>
                                <p class="small mb-0 text-muted">18CNTN</p>
                                <p class="small mb-0 text-muted">Newspapers</p>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <hr class="my-4" />
                <div class="form-group">
                    <label for="name">{{#ifEquals infoUser.permission "0"}}
            Họ tên
            {{/ifEquals}}
            {{#ifEquals infoUser.permission "1"}}
            Bút danh
            {{/ifEquals}}
            {{#ifEquals infoUser.permission "2"}}
            Họ tên
            {{/ifEquals}}
            {{#ifEquals infoUser.permission "3"}}
            Họ tên
            {{/ifEquals}}</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{infoUser.name}}" required/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name = "email" value="{{infoUser.email}}" required/>
                </div>
                <div class="form-group">
                    <label for="dob">Ngày sinh</label>
                    <input type="text" class="form-control"  placeholder="MM/DD/YYYY" id="dob" name = "dob" required>
                </div>
                <div class="form-group">
                    <label for="premium">Ngày hết hạn Premium</label>
                    <input type="text" class="form-control"  placeholder="MM/DD/YYYY" id="premium" name = "premium" required>
                </div>
                
                <hr class="my-4" />
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" class="form-control" id="password" name="password" />
                        </div>
                        <div class="form-group">
                            <label for="confirmpass">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmpass" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-2">Password requirements</p>
                        <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                        <ul class="small text-muted pl-4 mb-0">
                            <li>Minimum 8 character</li>
                            <li>At least one special character</li>
                            <li>At least one number</li>
                            <li>Can’t be the same as a previous password</li>
                        </ul>
                    </div>
                </div>
                <div id="err_signup" class="alert alert-danger mt-1" style="display:none "></div>
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            </form>
        </div>
    </div>
</div>

</div>
