{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/public/lib/easing/easing.min.js"></script>
<script src="/public/lib/slick/slick.min.js"></script>
<script src="/public/js/main.js"></script>
{{/section}}
<div class="top-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="tn-img">
                    <img src="/public/imgs/posts/{{this.topNewsLeft.PostID}}/main_thumbs.jpg" style="width:900px;height:600px;">
                    <div class="tn-content">
                        <div class="tn-content-inner">
                            <div class="mb-2 ">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="posts/byCat/{{this.topNewsLeft.CatIDLv1}}/{{this.topNewsLeft.CatIDLv2}}">{{this.topNewsLeft.CatNameLv1}}|{{this.topNewsLeft.CatNameLv2}}</a>
                                <i class="tn-date far fa-clock"style="color:white !important">{{this.topNewsLeft.Date}}</i>
                                
                            </div>
                            <a class="tn-title" href="/posts/details/{{this.topNewsLeft.PostID}}">{{this.topNewsLeft.PostName}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row">
                    {{#each topNewsRight}}
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                            <div class="tn-content">
                                <div class="tn-content-inner">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv1}}|{{CatNameLv2}}</a>
                                        <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        
                                    </div>
                                    <a class="tn-title" href="/posts/details/{{PostID}}">{{PostName}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
       
<div class="cat-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>THỜI SỰ</h2>
                <div class="row cn-slider">
                    {{#each news}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
    
                </div>
            </div>
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>GÓC NHÌN</h2>
                <div class="row cn-slider">
                    {{#each perspectivesNews}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>THẾ GIỚI</h2>
                <div class="row cn-slider">
                   {{#each worldNews}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>KINH DOANH</h2>
                <div class="row cn-slider">
                    {{#each businessNews}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>KHOA HỌC</h2>
                <div class="row cn-slider">
                   {{#each sciencesNews}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>THỂ THAO</h2>
                <div class="row cn-slider">
                      {{#each sportsNews}}
                        <div class="col-md-6">
                            <div class="cn-img">
                              <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="main-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2><i class="fas fa-align-justify"></i>TIN TỨC NỔI BẬT</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mn-img">
                                    <img src="/public/img/latest-news.jpg" />
                                </div>
                                <div class="mn-content">
                                    <a class="mn-title" href="">Cras commodo sem ut porta laoreet</a>
                                    <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed porta dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra inceptos...
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/latest-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Pellentesque sit amet rutrum lacus</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/latest-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Proin id pretium orci, quis rhoncus eros</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/latest-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Curabitur viverra scelerisque tempor</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/latest-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Integer nec lorem facilisis interdum lorem non</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/latest-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Interdum et malesuada fames</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h2><i class="fas fa-align-justify"></i>ĐƯỢC XEM NHIỀU</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mn-img">
                                    <img src="/public/img/popular-news.jpg" />
                                </div>
                                <div class="mn-content">
                                    <a class="mn-title" href="">Phasellus gravida metus vitae laoreet aliquam</a>
                                    <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed porta dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra inceptos...
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Nullam risus ante sempe</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Pellentesque ultrices quam id ipsum tempor</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Nam ex magna, commodo sed turpis rutrum</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Aliquam condimentum metus</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Ut ornare rutrum ligula erat volutpat</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h2><i class="fas fa-align-justify"></i>Category</h2>
                        <div class="category">
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">National</a></li>
                                <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">International</a></li>
                                <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">Economics</a></li>
                                <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">Politics</a></li>
                                <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">Lifestyle</a></li>
                                <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">Technology</a></li>
                                <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">Trades</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2><i class="fas fa-align-justify"></i>Tags</h2>
                        <div class="tags">
                            <a href="">National</a>
                            <a href="">International</a>
                            <a href="">Economics</a>
                            <a href="">Politics</a>
                            <a href="">Lifestyle</a>
                            <a href="">Technology</a>
                            <a href="">Trades</a>
                            <a href="">National</a>
                            <a href="">International</a>
                            <a href="">Economics</a>
                            <a href="">Politics</a>
                            <a href="">Lifestyle</a>
                            <a href="">Technology</a>
                            <a href="">Trades</a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
        
