{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/public/lib/easing/easing.min.js"></script>
<script src="/public/lib/slick/slick.min.js"></script>
<script src="/public/js/main.js"></script>
<script>
function myFunction(postPremium) {
  if(postPremium){
    {{#if premium}}
      return true;
    {{/if}}
    var r = confirm("Bạn phải đăng ký tài khoản Premium để xem được bài viết này!!!");
    if (r == true) {
      return true;
    } else {
      return false;
    } 
  }
}
</script>
{{/section}}
<div class="top-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="tn-img">
                    <img src="/public/imgs/posts/{{this.topNewsLeft.PostID}}/main_thumbs.jpg" style="width:900px;height:615px;">
                    <div class="tn-content">
                        <div class="tn-content-inner">
                            <div class="mb-2 ">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" 
                                    href="posts/byCat/{{this.topNewsLeft.CatIDLv1}}/{{this.topNewsLeft.CatIDLv2}}">
                                    {{this.topNewsLeft.CatNameLv1}}|{{this.topNewsLeft.CatNameLv2}}
                                </a>
                                {{#if this.topNewsLeft.Premium}}
                                    <span class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                {{/if}}
                                <i class="tn-date far fa-clock"style="color:white !important">{{this.topNewsLeft.Date}}</i>
                                
                            </div>
                            <a class="tn-title" href="/posts/details/{{this.topNewsLeft.PostID}}" onclick="return myFunction({{this.topNewsLeft.Premium}})">{{this.topNewsLeft.PostName}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row">
                    {{#each topNewsRight}}
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                            <div class="tn-content">
                                <div class="tn-content-inner">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="/posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv1}}|{{CatNameLv2}}</a>
                                        {{#if this.Premium}}
                                            <span class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                        {{/if}}
                                        <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        
                                    </div>
                                    <a class="tn-title" href="/posts/details/{{PostID}}" onclick="return myFunction({{this.Premium}})">{{PostName}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
       
<div class="cat-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>THỜI SỰ</h2>
                <div class="row cn-slider">
                    {{#each news}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            {{#if this.Premium}}
                                            <span class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                            {{/if}}
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}" onclick="return myFunction({{this.Premium}})">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
    
                </div>
            </div>
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>GÓC NHÌN</h2>
                <div class="row cn-slider">
                    {{#each perspectivesNews}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            {{#if this.Premium}}
                                            <span class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                            {{/if}}
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}" onclick="return myFunction({{this.Premium}})">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>THẾ GIỚI</h2>
                <div class="row cn-slider">
                   {{#each worldNews}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            {{#if this.Premium}}
                                            <span class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                            {{/if}}
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}" onclick="return myFunction({{this.Premium}})">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>KINH DOANH</h2>
                <div class="row cn-slider">
                    {{#each businessNews}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            {{#if this.Premium}}
                                            <span class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                            {{/if}}
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}" onclick="return myFunction({{this.Premium}})">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>KHOA HỌC</h2>
                <div class="row cn-slider">
                   {{#each sciencesNews}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            {{#if this.Premium}}
                                            <span class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                            {{/if}}
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}" onclick="return myFunction({{this.Premium}})">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>THỂ THAO</h2>
                <div class="row cn-slider">
                      {{#each sportsNews}}
                        <div class="col-md-6">
                            <div class="cn-img">
                              <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv2}}</a>
                                            {{#if this.Premium}}
                                            <span class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                            {{/if}}
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="/posts/details/{{PostID}}" onclick="return myFunction({{this.Premium}})">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="main-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2><i class="fas fa-align-justify"></i>TIN TỨC MỚI NHẤT</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mn-img">
                                    <img src="/public/imgs/posts/{{topViewsNewsMain.PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                </div>
                                <div class="mn-content">
                                    <a class="mn-title" href="/posts/details/{{topViewsNewsMain.PostID}}" onclick="return myFunction({{this.Premium}})">{{topViewsNewsMain.PostName}}</a>
                                    <a class="mn-date" href=""><i class="far fa-clock"></i>{{topViewsNewsMain.Date}}</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="posts/byCat/{{topViewsNewsMain.CatIDLv1}}/{{topViewsNewsMain.CatIDLv2}}">{{topViewsNewsMain.CatNameLv1}}|{{topViewsNewsMain.CatNameLv2}}</a>
                                        {{#if this.Premium}}
                                            <span class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                        {{/if}}
                                    </div>
                                    <p>
                                        {{topViewsNewsMain.TinyContent}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {{#each topViewsNews}}
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width: 100px;height: 90px;"/>
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="/posts/details/{{PostID}}" onclick="return myFunction({{this.Premium}})">{{PostName}}</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>{{Date}}</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv1}}|{{CatNameLv2}}</a>
                                            {{#if this.Premium}}
                                            <span class="badge badge-primary" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h2><i class="fas fa-align-justify"></i>ĐƯỢC XEM NHIỀU</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mn-img">
                                    <img src="/public/imgs/posts/{{topPopularNewsMain.PostID}}/main_thumbs.jpg" style="width:450px;height:292px;"/>
                                </div>
                                <div class="mn-content">
                                    <a class="mn-title" href="/posts/details/{{topPopularNewsMain.PostID}}" onclick="return myFunction({{this.Premium}})">{{topPopularNewsMain.PostName}}</a>
                                    <a class="mn-date" href=""><i class="far fa-clock"></i>{{topPopularNewsMain.Date}}</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="posts/byCat/{{topPopularNewsMain.CatIDLv1}}/{{topPopularNewsMain.CatIDLv2}}">{{topPopularNewsMain.CatNameLv1}}|{{topPopularNewsMain.CatNameLv2}}</a>
                                        {{#if this.Premium}}
                                            <span class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                        {{/if}}
                                    </div>
                                    <p>
                                        {{topPopularNewsMain.TinyContent}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {{#each topPopularNews}}
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" style="width: 100px;height: 90px;"/>
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="/posts/details/{{PostID}}" onclick="return myFunction({{this.Premium}})">{{PostName}}</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>{{Date}}</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary"
                                                href="posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv1}}|{{CatNameLv2}}</a>
                                                
                                            {{#if this.Premium}}
                                            <span class="badge badge-primary" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h2><i class="fas fa-align-justify"></i>Category</h2>
                        <div class="category">
                            <ul class="fa-ul"></ul>
                                {{#each lcCategories}}
                                    <li><span class="fa-li"></span><a href="/posts/byCat/{{CatIDLv1}}">{{CatNameLv1}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2><i class="fas fa-align-justify"></i>Tags</h2>
                        <div class="tags">
                            {{#each tags}}
                                <a href="/posts/tags/{{TagID}}" class="btn btn-sm btn-outline-secondary m-1">{{TagName}}</a>
                            {{/each}}
                            <a href=""  class="btn btn-sm btn-outline-secondary m-1">National</a>
                            <a href=""  class="btn btn-sm btn-outline-secondary m-1">International</a>
                            <a href=""  class="btn btn-sm btn-outline-secondary m-1">Economics</a>
                            <a href=""  class="btn btn-sm btn-outline-secondary m-1">Politics</a>
                            <a href=""  class="btn btn-sm btn-outline-secondary m-1">Lifestyle</a>
                            
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
        
