{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/public/lib/easing/easing.min.js"></script>
<script src="/public/lib/slick/slick.min.js"></script>
<script src="/public/js/main.js"></script>
{{/section}}
<div class="top-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="tn-img">
                    <img src="/public/img/top-news-1.jpg" />
                    <div class="tn-content">
                        <div class="tn-content-inner">
                            <div class="mb-2 ">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">{{this.topNewsLeft.CatNameLv1}}|{{this.topNewsLeft.CatNameLv2}}</a>
                                <i class="tn-date far fa-clock"style="color:white !important">{{this.topNewsLeft.Date}}</i>
                                
                            </div>
                            <a class="tn-title" href="">{{this.topNewsLeft.PostName}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row">
                    {{#each topNewsRight}}
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="/public/img/top-news-3.jpg" />
                            <div class="tn-content">
                                <div class="tn-content-inner">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">{{CatNameLv1}}|{{CatNameLv2}}</a>
                                        <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        
                                    </div>
                                    <a class="tn-title" href="">{{PostName}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
       
<div class="cat-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>THỜI SỰ</h2>
                <div class="row cn-slider">
                    {{#each news}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/img/cat-news-2.jpg" />
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">{{CatNameLv2}}</a>
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
    
                </div>
            </div>
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>GÓC NHÌN</h2>
                <div class="row cn-slider">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/public/img/cat-news-4.jpg" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <a class="cn-title" href="">Vivamus vel felis nec magna</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/public/img/cat-news-5.jpg" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <a class="cn-title" href="">Phasellus vitae fermentum est</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/public/img/cat-news-6.jpg" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <a class="cn-title" href="">Aenean ut varius dui</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>THẾ GIỚI</h2>
                <div class="row cn-slider">
                   {{#each newsWorld}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/img/cat-news-2.jpg" />
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">{{CatNameLv2}}</a>
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>KINH DOANH</h2>
                <div class="row cn-slider">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/public/img/cat-news-10.jpg" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <a class="cn-title" href="">Ut laoreet justo non ornare</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/public/img/cat-news-11.jpg" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <a class="cn-title" href="">Proin a nulla ut enim feugiat</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/public/img/cat-news-12.jpg" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <a class="cn-title" href="">Sed mauris sem sollicitudin at neque</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>KHOA HỌC</h2>
                <div class="row cn-slider">
                   {{#each newsWorld}}
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="/public/img/cat-news-2.jpg" />
                                <div class="cn-content">
                                    <div class="cn-content-inner">
                                        
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">{{CatNameLv2}}</a>
                                            <i class="far fa-clock"style="color:white !important">{{Date}}</i>
                                        </div>
                                        <a class="cn-title" href="">{{PostName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6">
                <h2><i class="fas fa-align-justify"></i>THỂ THAO</h2>
                <div class="row cn-slider">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/public/img/cat-news-10.jpg" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <a class="cn-title" href="">Ut laoreet justo non ornare</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/public/img/cat-news-11.jpg" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <a class="cn-title" href="">Proin a nulla ut enim feugiat</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/public/img/cat-news-12.jpg" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <a class="cn-title" href="">Sed mauris sem sollicitudin at neque</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="main-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2><i class="fas fa-align-justify"></i>TIN TỨC NỔI BẬT</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mn-img">
                                    <img src="/public/img/latest-news.jpg" />
                                </div>
                                <div class="mn-content">
                                    <a class="mn-title" href="">Cras commodo sem ut porta laoreet</a>
                                    <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed porta dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra inceptos...
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/latest-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Pellentesque sit amet rutrum lacus</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/latest-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Proin id pretium orci, quis rhoncus eros</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/latest-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Curabitur viverra scelerisque tempor</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/latest-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Integer nec lorem facilisis interdum lorem non</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/latest-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Interdum et malesuada fames</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h2><i class="fas fa-align-justify"></i>ĐƯỢC XEM NHIỀU</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mn-img">
                                    <img src="/public/img/popular-news.jpg" />
                                </div>
                                <div class="mn-content">
                                    <a class="mn-title" href="">Phasellus gravida metus vitae laoreet aliquam</a>
                                    <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Business</a>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed porta dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra inceptos...
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Nullam risus ante sempe</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Pellentesque ultrices quam id ipsum tempor</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Nam ex magna, commodo sed turpis rutrum</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Aliquam condimentum metus</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="/public/img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="">Ut ornare rutrum ligula erat volutpat</a>
                                        <a class="mn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Business</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
