{{#section 'css'}}
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />
{{/section}}
{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/mg5mdf920h2memeffbd6jvqanwjaovmtpfnl9vzuxgl1nwu5/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/js/fileinput.min.js"></script>
<script>
  tinymce.init({
    selector: '#txtContent',
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });
  $('#txtAvatar').fileinput({
    allowedFileExtensions: ['jpg', 'png', 'gif'],
    dropZoneEnabled: false,
  });
</script>
<script>
  $('#subcategory').find('optgroup').hide(); // initialize
  $('#category').change(function() {
  var $cat = $(this).find('option:selected');
  var $subCat = $('#subcategory').find('.' + $cat.attr('class'));
  $('#subcategory').find('optgroup').not("'"+ '.' + $cat.attr('class') + "'").hide(); // hide other optgroup
  $subCat.show();
  $subCat.find('option').first().attr('selected', 'selected');
  });

  $('#formAddPost').on('submit', function (e) {
    if($('#subcategory').val() === "")
    {
      $('#subcategory').focus();
      e.preventDefault();
    }
    
  })
</script>
{{/section}}
<div class="card">
  <h4 class="card-header">
    Bài viết mới
  </h4>
  <div class="card-body">
    <form method="POST" id="formAddPost" enctype="multipart/form-data">
      <div class="form-group">
        <label for="txtPostName">Tên bài viết</label>
        <input type="text" class="form-control" id="txtPostName" name="txtPostName" autofocus required>
      </div>
      
      <div class="form-group">
        <label for="txtTinyContent">Nội dung tóm tắt</label>
        <input type="text" class="form-control" id="txtTinyContent" name="txtTinyContent" required>
      </div>
      <div class="form-group">
        <label for="txtContent">Nội dung đầy đủ</label>
        <textarea id="txtContent" name="txtContent" rows="20"></textarea>
      </div>
      <div class="form-group">
        <label for="txtCat">Chuyên mục</label>
        <br>
        <div class="">
          <select class="form-control col-sm-3" name="CatIDLv1" id="category" required>
              <option value="">Chọn chuyên mục cấp 1</option>
              {{#each lcCategories}}
                 <option class="Category-{{CatIDLv1}}" value="{{CatIDLv1}}">{{CatNameLv1}}</option>
              {{/each}}
          </select>
          <select class="form-control col-sm-3" name="CatIDLv2"  id="subcategory" required>
            {{#each lcCategories}}
              <optgroup class="Category-{{CatIDLv1}}" required>
              <option value="">Chọn chuyên mục cấp 2</option>
              {{#each CatName}}
                <option value="{{CatIDLv2}}">{{CatNameLv2}}</option>
              {{/each}}
            </optgroup>
            {{/each}}
          </select>
        </div> 
      </div>
      <div class="form-group">
        <label for="txtTags">Nhãn</label>
        <br>
        {{#each tags}}
          <div class="form-check form-check-inline" >
            <input class="form-check-input" type="checkbox" name="TagID" id="tagCheckbox{{TagID}}" value="{{TagID}}">
            <label class="form-check-label" for="tagCheckbox{{TagID}}">{{TagName}}</label>
          </div>
        {{/each}}
      </div>
      <div class="form-group">
        <label for="txtAvatar">Ảnh đại diện bài viết</label>
        <input type="file" class="form-control" id="txtAvatar" name="cover" multiple required>
      </div>
      <a class="btn btn-primary" href="/writer/myposts" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Quay trở lại
      </a>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
      </form>
  </div>
</div>