{{#section 'js'}}
<script>
function myFunction(postPremium) {
  alerResPremium=0;
  
  //console.log(postPremium)
  if(postPremium){
    var r = confirm("Bạn phải đăng ký tài khoản Premium để xem được bài viết này!!!");
    if (r == true) {
      alerResPremium=1;
    } else {
      alerResPremium=0;
    } 
  }
  
  
}
</script>
<script>
  document.querySelector('#test').addEventListener('click', function (e) {
    if (alerResPremium === 0) {
      e.preventDefault();
    }
  })
</script>
{{/section}}

<div class="card">
  <h4 class="card-header">
    {{this.title}}
  </h4>
  <div class="card-body">
    {{#if this.empty}}
    <h5 class="card-title">Không có dữ liệu!</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    {{else}}
    <div class="row">
      {{#each this.posts}}

      <div class="col-md-12">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            {{!-- <strong class="d-inline-block mb-2 text-primary">{{PostName}}</strong> --}}
            <h3 class="mb-0">
              <a class="text-primary" href="/posts/details/{{PostID}}" onclick="myFunction({{this.Premium}})" id="test">{{PostName}}</a>
            </h3>
            <h5><a href="/posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}" class="badge badge-secondary">{{CatNameLv1}} | {{CatNameLv2}}</a>
              {{#if this.Premium}}
                <span class="badge badge-secondary" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
              {{/if}}
              
            </h5>
            <div class="mb-1 text-muted">
              <i class="far fa-clock"></i>{{Date}}</div>
            <div class="mb-1 text-muted">
              {{#each tag}}
              <a href="/posts/tags/{{TagID}}" class="badge badge-primary">{{TagName}}</a>
              {{/each}}
            </div>
            <p class="card-text mb-auto">{{TinyContent}}</p>
            <a href="/posts/details/{{PostID}}">Xem thêm</a>
          </div>
          <img class="card-img-right flex-auto d-none d-md-block" style="width: 300px;"
            src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg">
        </div>
      </div>
      {{/each}}
    </div>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {{#each this.page_numbers}}
        {{#if isCurrent}}
        <li class="page-item active">
          <a class="page-link" href="javascript:;">{{value}}</a>
        </li>
        {{else}}
        <li class="page-item">
          <a class="page-link" href="?page={{value}}">{{value}}</a>
        </li>
        {{/if}}
        {{/each}}
        <li class="page-item">
          <a class="page-link" href="?page=">Next</a>
        </li>
        {{!-- <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li> --}}
      </ul>
    </nav>
    {{/if}}
  </div>
</div>