{{#section 'js'}}
<script>
function myFunction(user) {
  if(!user){
    var r = confirm("Bạn phải đăng nhập để gửi nhận xét!!!");
    if (r == true) {
      return true;
    } else {
      return false;
    } 
  }
  return true;
}
</script>
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

<script>
    function downloadAsPDF(userPremium) {
        if(!userPremium){
            alert("Bạn phải đăng ký tài khoản Premium để tải bài viết này!!!");
        }
        else{
            const element = document.querySelector('#contentPost');
            var opt = {
            margin: [15, 0, 15, 0],
            filename: `CV-${name}.pdf`,
            image: { type: 'jpeg', quality: 1 },
                html2canvas: {
                    dpi: 192,
                    scale:4,
                    letterRendering: true,
                    useCORS: true
            },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };
            html2pdf().set(opt).from(element).save();
        }
     
    }
</script>
<script>
function checkPostPremium(postPremium) {
  if(postPremium){
    var r = confirm("Bạn phải đăng ký tài khoản Premium để xem được bài viết này!!!");
    if (r == true) {
      return true;
    } else {
      return false;
    } 
  }
}
</script>
<script>
  $("h4").css("background-color", "yellow");
  $("img").css("style","object-fit: cover;");
</script>
{{/section}}



<div class="container-fluid">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <!-- News Detail Start -->
              <div class="position-relative mb-3" id="contentPost">
                  <img class="img-fluid w-100" src="/public/imgs/posts/{{this.post.PostID}}/main_thumbs.jpg" style="object-fit: cover;">
                  <div class="bg-white border border-top-0 p-4">
                      <div class="mb-3">
                          <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                              href="/posts/byCat/{{this.post.CatIDLv1}}/{{this.post.CatIDLv2}}">{{this.post.CatNameLv1}}|{{this.post.CatNameLv2}}</a>
                          <a class="text-body" href="">{{this.post.Date}}</a>
                      </div>
                      <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">{{this.post.PostName}}</h1>
                      <p class="card-text">
                        {{{this.post.FullContent}}}
                      </p>
                      
                  </div>
                  <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                      <div class="d-flex align-items-center">
                          <img class="rounded-circle mr-2" src="/public/img/avatar.jpg" width="25" height="25" alt="">
                          <span>{{author}}</span>
                      </div>
                      <div class="d-flex align-items-center">
                          <span class="ml-3"><i class="far fa-eye mr-1 "></i>{{this.post.Views}}</span>
                          <span class="ml-3"><i class="far fa-comment mr-1 "></i>{{totalCmts}}</span>
                          <span class="ml-3"><i class="fa fa-download mr-1 fa-2x" aria-hidden="true" onclick="downloadAsPDF({{premium}})"></i></span>
                          
                      </div>
                  </div>
              </div>
              <!-- News Detail End -->
 
              <!-- Comment List Start -->
                 <div class="mb-3">
                    <div class="section-title mb-0">
                      {{!-- <h4 class="m-0 text-uppercase font-weight-bold">3 Comments</h4> --}}
                      <h2 ><b>Comments</b></h2>
                    </div>
                      <div class="bg-white border border-top-0 p-4">
                        {{#each comments}}
                          <div class="media mb-4">
                          <img src="/public/img/avatar.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                          <div class="media-body">
                              <h6><a class="text-secondary font-weight-bold" href="">{{name}}</a> <small><i>{{Date}}</i></small></h6>
                              <p>{{Content}}</p>
                          </div>
                        </div>
                        {{/each}}
                        
                        
                      </div>
                  </div>
              <!-- Comment List End -->

              <!-- Comment Form Start -->
              <div class="mb-3">
                <div class="bg-white border border-top-0 p-4">
                  <form method="POST" action="/posts/details/{{this.post.PostID}}">
                    <div class="form-group">
                        <label for="message">Nội dung góp ý</label>
                        <textarea id="message" cols="30" rows="5" class="form-control" name="message"></textarea>
                    </div>
                    <div class="form-group mb-0">
                        <input type="submit" value="Đăng" id="submitCmt" onclick="return myFunction({{auth}})"
                            class="btn btn-primary font-weight-semi-bold py-2 px-3">
                    </div>
                  </form>
                </div>
              </div>
              <!-- Comment Form End -->
          </div>

          <div class="col-lg-4">
              <!-- Social Follow Start -->
              <div class="mb-3">
                  <div class="section-title mb-0">
                      <h4 class="card-header text-uppercase font-weight-bold">Follow Us </h4>
                  </div>
                  <div class="bg-white border border-top-0 p-3">
                      <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                          <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                          <span class="font-weight-medium">12,345 Fans</span>
                      </a>
                      <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                          <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                          <span class="font-weight-medium">12,345 Followers</span>
                      </a>
                      <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                          <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                          <span class="font-weight-medium">12,345 Connects</span>
                      </a>
                      <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                          <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                          <span class="font-weight-medium">12,345 Followers</span>
                      </a>
                      <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                          <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                          <span class="font-weight-medium">12,345 Subscribers</span>
                      </a>
                      <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                          <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                          <span class="font-weight-medium">12,345 Followers</span>
                      </a>
                  </div>
              </div>
              <!-- Social Follow End -->

              <!-- Ads Start -->
              <div class="mb-3">
                  <div class="section-title mb-0">
                      <h4 class="card-header text-uppercase font-weight-bold">Quảng cáo</h4>
                  </div>
                  <div class="bg-white text-center border border-top-0 p-3">
                      <a href=""><img class="img-fluid" src="img/news-800x500-2.jpg" alt=""></a>
                  </div>
              </div>
              <!-- Ads End -->

              <!-- Popular News Start -->
              <div class="mb-3">
                  <div class="section-title mb-0">
                      <h4 class="card-header text-uppercase font-weight-bold">Tin liên quan</h4>
                  </div>
                  <div class="bg-white border border-top-0 p-3">
                        {{#each postsSameCat}}
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="/public/imgs/posts/{{PostID}}/main_thumbs.jpg" width="110px" height="110px" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" style="font-size: 10px;"
                                        href="/posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}">{{CatNameLv1}}|{{CatNameLv2}}</a>
                                        {{#if this.Premium}}
                                            <span class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" style="background-color:coral"><i class="fa fa-diamond" aria-hidden="true"></i>Premium</span>
                                        {{/if}}
                                        <a class="text-body" href=""><small{{Date}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" style="font-size: 13px;"
                                    href="/posts/details/{{PostID}}" onclick="return checkPostPremium({{this.Premium}})">{{PostName}}</a>
                                </div>
                            </div>    
                        {{/each}}
                      
                      
                      
                      
                  </div>
              </div>
              <!-- Popular News End -->

              

              <!-- Tags Start -->
              <div class="mb-3">
                  <div class="section-title mb-0">
                      <h4 class="card-header text-uppercase font-weight-bold">Tags</h4>
                  </div>
                  <div class="bg-white border border-top-0 p-3">
                      <div class="d-flex flex-wrap m-n1">
                          {{#each tags}}
                              <a href="/posts/tags/{{TagID}}" class="btn btn-sm btn-outline-secondary m-1">{{TagName}}</a>
                          {{/each}}
                      </div>
                  </div>
              </div>
              <!-- Tags End -->
          </div>
      </div>
  </div>
</div>