{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  $(document).ready(function () {
    $('#manageposts').DataTable({
      paging: false,
      searching: false,
      bInfo: false,
    });
  });
</script>
{{/section}}
<div class="card">
  <h4 class="card-header d-flex justify-content-between">
    {{this.title}}
  </h4>
  <div class="card-body">
    {{#if this.empty}}
    <h5 class="card-title">Không có dữ liệu!</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    {{else}}
    <input class="form-control" id="myInput" type="text" placeholder="Tìm kiếm..">

    <table id="manageposts" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên bài viết</th>
          <th scope="col">Chuyên mục</th>
          <th scope="col">Nhãn</th>
          <th scope="col">Trạng thái</th>
        </tr>
      </thead>
      <tbody id="myTable">
      {{#each this.posts}}
      <tr>
      <th scope="row">{{format_index @index}}</th>
      <td><a class="text-primary" href="/posts/details/{{PostID}}">{{PostName}}</a></td>
      <td><a href="/posts/byCat/{{CatIDLv1}}/{{CatIDLv2}}" class="badge badge-secondary">{{CatNameLv1}} | {{CatNameLv2}}</a></td>
      <td>{{#each tag}}
        <a href="/posts/tags/{{TagID}}" class="badge badge-primary">{{TagName}}</a>
          {{/each}}
      </td>
      <td>
        {{#ifEquals Status "0"}}
          Đã được duyệt & chờ xuất bản
        {{/ifEquals}}
        {{#ifEquals Status "1"}}
          Đã xuất bản
        {{/ifEquals}}
        {{#ifEquals Status "2"}}
          <div class="text-danger">Bị từ chối</div>
        {{/ifEquals}}
        {{#ifEquals Status "3"}}
          <a href="/editor/reviewPost/{{PostID}}" class="text-primary">Chưa được duyệt</a> 
        {{/ifEquals}}
      </td>
    </tr>
      
      {{/each}}
      </tbody>
    </table>
    <br>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {{#each this.page_numbers}}
        {{#if isCurrent}}
        <li class="page-item active">
          <a class="page-link" href="javascript:;">{{value}}</a>
        </li>
        {{else}}
        <li class="page-item">
          <a class="page-link" href="?page={{value}}">{{value}}</a>
        </li>
        {{/if}}
        {{/each}}
        <li class="page-item">
          <a class="page-link" href="?page=">Next</a>
        </li>
      </ul>
    </nav>
    {{/if}}
  </div>
</div>