{{#section 'js'}}
<script>
  $('#subcategory').find('optgroup').hide(); // initialize
  $('#category').change(function() {
  var $cat = $(this).find('option:selected');
  var $subCat = $('#subcategory').find('.' + $cat.attr('class'));
  $('#subcategory').find('optgroup').not("'"+ '.' + $cat.attr('class') + "'").hide(); // hide other optgroup
  $subCat.show();
  $subCat.find('option').first().attr('selected', 'selected');
  });
</script>
<script>
  document.querySelector('#btnSubmit').addEventListener('click',function(e){
    var opt = document.querySelector('#postStatus').value;
    if(opt=== "2"){
      var cmts = document.querySelector('#txtComments').value;
      if( cmts.length === 0){
        alert('Yêu cầu viết chú thích trước khi từ chối bài viết');
        e.preventDefault();
      }
      
    }

  })

</script>

{{/section}}
<div class="card">
  <h4 class="card-header">
    Duyệt bài viết
  </h4>
  <div class="card-body">
    <form method="POST" action="/editor/reviewPost/{{post.PostID}}">
        <div class="form-group">
            <label for="txtPostName">Tên bài viết</label>
            <p class="text-primary">{{post.PostName}}</p>
        </div>
        <p>Duyệt bài viết</p> 
        <select class="form-control col-sm-3" id="postStatus" name="postStatus" required>
              
              <option value="1">Xuất bản</option>
              <option value="2">Từ chối</option>
        </select>
        <div class="form-group">
        <label for="txtCat">Chuyên mục</label>
        <br>
        <div class="">
          <select class="form-control col-sm-3" id="category" required>
              <option value="">Chọn chuyên mục cấp 1</option>
              {{#each lcCategories}}
                 <option class="Category-{{CatIDLv1}}" value="{{CatIDLv1}}">{{CatNameLv1}}</option>
              {{/each}}
          </select>
          <select class="form-control col-sm-3" id="subcategory">
            {{#each lcCategories}}
              <optgroup class="Category-{{CatIDLv1}}" required>
              <option value="">Chọn chuyên mục cấp 2</option>
              {{#each CatName}}
                <option value="{{CatIDLv2}}">{{CatNameLv2}}</option>
              {{/each}}
            </optgroup>
            {{/each}}
          </select>
        </div> 
      </div>
   
      <div class="form-group">
        <label for="txtTags">Nhãn</label>
        <input type="text" class="form-control" id="txtTags" name="txtTags" >
      </div>
      <div class="form-group">
        <label for="txtTags">Nhận xét</label>
        <input type="text" class="form-control" id="txtComments" name="txtComments" >
      </div>
      <a class="btn btn-primary" href="/editor/myposts" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Quay trở lại
      </a>
      <button type="submit" class="btn btn-success" id="btnSubmit">
        <i class="fa fa-check" aria-hidden="true"></i>
        Xác nhận
      </button>
      
    </form>
  </div>
</div>