{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<script>
  $(document).ready(function () {
    $('#managecategorieslv2').DataTable({
      paging: false,
      searching: false,
      bInfo: false,
    });
  });

</script>
{{/section}}
<div class="card">
  <h4 class="card-header d-flex justify-content-between">
    Categories
    <a class="btn btn-outline-success" href="/admin/categories/addCatLv2?idlv1={{idlv1}}" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add Category
    </a>
  </h4>
  <div class="card-body">
    {{#if this.empty}}
    <h5 class="card-title">Không có dữ liệu!</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    {{else}}
    <table id="managecategorieslv2" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Category</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.categories}}
        <tr>
          <th scope="row">{{format_index @index}}</th>
          <td><a>{{CatNameLv2}}</a></td>
          <td class="text-right">
            <a class="btn btn-primary btn-sm" href="/admin/categories/editCatLv2?idlv1={{CatIDLv1}}&idlv2={{CatIDLv2}}" role="button" title="Edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td> 
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
  <a class="btn btn-primary" href="/admin/categories/" role="button">
    <i class="fa fa-backward" aria-hidden="true"></i>
    Back to List
  </a>
</div>